/* Profile.css */

.container {
    margin-top: 20px;
}

.profile-info {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 1300px;
    display: flex;
    flex-direction: column;
}

.profile-img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.qr-code-img {
    max-width: 250px;
    margin-bottom: 10px;
    border-radius: 0;
    align-self: flex-end;
    margin-right: 100px;
    /* Ensures square corners */
}

.tabs {
    display: flex;
    justify-content: center;
    /* Center the tab selection */
    margin-bottom: 0px;
}

.tabs button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 650px;
}

.tabs button.active {
    background-color: #ffffff;
}

.tab-content {
    background-color: #ffffff;
    padding: 20px;
    border: none;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.btn-secondary {
    background-color: #ffd700;
    color: black;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: none;
}

.btn-secondary:hover {
    background-color: #ffcc00;
    color: black;
}

/* Set grid layout for listings */
.listings-section .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.listings-section .col-md-4 {
    width: auto;
}

.profile-details {
    display: flex;
}

.profile-details-left {
    margin-right: 100px;
    /* Adjust as needed */
}

.profile-details-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}