.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
  }
  
.logo-container {
    flex-grow: 1; /* Allow logo to grow and fill space */
}
  
.nav-container {
    display: flex;
    align-items: center; /* Align items vertically */
}
  
.logo {
    width: 100px; /* Adjust the width of the logo */
}
  
.icon {
    width: 40px; /* Adjust the width of the icons */
}
  