.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
  }
  
.logo-container {
    flex-grow: 1; /* Allow logo to grow and fill space */
}
  
.nav-container {
    display: flex;
    align-items: center; /* Align items vertically */
}
  
.logo {
    width: 65px; /* Adjust the width of the logo */
}

.reuse {
    width: 100px;
}
  
.icon {
    width: 60px; /* Adjust the width of the icons */
}

.signin-button {
    background-color: #ffd700; /* Yellow background color */
    color: #000; /* Black text color */
    font-weight: bold;
    padding: 10px 20px; /* Adjust padding */
    border-radius: 20px; /* Rounded edges */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition effect */
}

.signin-button:hover {
    background-color: #cca300; /* Darker yellow on hover */
}

.message-icon{
    width: 40px;
    height: 40px;
}
  