nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #f8f9fa; 
  }
  
  .nav-links {
    display: flex;
  }
  
  .dropdown {
    position: relative;
    margin-right: 20px; /* Add margin between Shop by Category and Trending */
  }
  
  .dropdown-toggle {
    cursor: pointer;
    font-weight: bold; /* Added font weight to match "Trending" */
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Position dropdown menu below the dropdown */
    right: 0;
    display: none;
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #f0f0f0;
    width: 100%;
  }
  
  .active, .dropdown-menu a.active {
    color: #e6b800; /* Highlight active links */
    font-weight: bold; /* Set font weight */
  }

  .nav-links a.active {
    color: #e6b800; /* Highlight active links */
    font-weight: bold; /* Set font weight */
    text-decoration: none; /* Remove underline */
  }
  
  .nav-links a {
    text-decoration: none; /* Remove underline */
    color: #333; /* Set text color */
    font-weight: bold; /* Set font weight */
    margin-right: 20px; /* Add margin between links */
  }
  
  .nav-links a:hover {
    color: #e6b800; /* Change color on hover */
  }
  
  .sell-button {
    background-color: #ffd700;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sell-button:hover {
    background-color: #ffcc00;
    color: black;
  }
  