.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.signup-container label {
    display: block;
    margin-bottom: 8px;
}

.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 350px;
    height: 40px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

.signup-container .password-input-container {
    position: relative;
    width: 350px;
}

.signup-container .password-toggle-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    padding: 7;
    background-color: transparent; 
    border: none; 
}

.signup-container .password-toggle-icon img {
    width: 150%;
    height: auto;
}

.signup-container .password-restrictions {
    margin-bottom: 7px;
    font-size: 10px;
}

.signup-container .restriction-message {
    margin-bottom: 3px;
}

.signup-container .valid {
    color: green;
}

.signup-container .invalid {
    color: red;
}

.signup-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ffd700;
    /* Yellow background */
    color: #000;
    /* Black text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
}

.signup-container button[type="submit"]:hover {
    background-color: #ffcc00;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}

.small-text {
    font-size: 13px;
}