.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-container label {
    display: block;
    margin-bottom: 8px;
}

.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: calc(100% - 40px); /* Adjusted width to accommodate button */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container .password-input-container {
    position: relative;
}

.signup-container .password-toggle-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px; /* Adjusted right position */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #333; /* Adjusted color */
}

.signup-container .password-toggle-btn:focus {
    outline: none;
}

.signup-container .password-restrictions {
    margin-bottom: 7px;
    font-size: 10px;
}

.signup-container .restriction-message {
    margin-bottom: 3px;
}

.signup-container .valid {
    color: green;
}

.signup-container .invalid {
    color: red;
}

.signup-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ffd700;
    /* Yellow background */
    color: #000;
    /* Black text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

.signup-container button[type="submit"]:hover {
    background-color: #ffcc00;
    /* Darker yellow on hover */
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}
